
@font-face {
    font-family: 'TwitterChirpExtendedHeavy';
    src: url(../../assets/twitter/fonts/chirp-regular-web.woff);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'TwitterChirpExtendedHeavy';
    src: url(../../assets/twitter/fonts/chirp-extended-heavy-web.woff);
    font-style: normal;
    font-weight: 700;
}
// @font-face {
//     font-family: 'TwitterChirpExtendedHeavy';
//     src: url(../../assets/twitter/fonts/chirp-regular-web.woff);
//     font-style: normal;
//     font-weight: 100;
// }

.landing {
    // Write your styles here.
    background-color: white;
    p {
        
        font-family: "TwitterChirpExtendedHeavy";
    }
}

#right {
    width: 45%;
    @apply min-w-1/2;
    // max-width: 50%;
}

.separator {
    @apply border-twittergray;
    @apply border;
    @apply border-l-0;
    @apply border-r-0;
    @apply border-b-0;
    @apply w-24;
}

#legal-stuff {
    width: 300px;
    max-width: 380px;
}

#image {
    background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png);
}
// #image:after
// {
//     content: '.';
//     visibility: hidden;
// }

